@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewBag.Title = "Créer un compte";
}

@model TP_InterfaceWeb.Models.NewAccount

<form asp-action="NewAccountView">

    <h1 class="text-success">Créez un nouveau compte !</h1>

    <br />
    <br />

   

   <div class=input-group>
       

        <label class="form-label col-sm-2" asp-for="Nom">Nom</label>

        <div class="col-sm-10">
            <input class="form-control" asp-for="Nom" placeholder="Nom" type="text" />
        </div>
      
        <span class="text-danger" asp-validation-for="Nom"></span>
         


   </div>
   <br/>

   <div class=input-group>
       

        <label class="form-label col-sm-2" asp-for="Prenom">Prénom</label>

        <div class="col-sm-10">
            <input class="form-control" asp-for="Prenom" placeholder="Prénom" type="text" />
        </div>
      
        <span class="text-danger" asp-validation-for="Prenom"></span>
         


   </div>

   
  

   
   <br/>
   <div class=input-group>
        <label class="form-label col-sm-2" asp-for="DateNaissance">Date de naissance</label>

        <div class="col-sm-10">
        <input class="form-control" asp-for="DateNaissance" type="date" />
        </div>

        <span class="text-danger" asp-validation-for="DateNaissance"></span>
    </div>
    <br/>

   
  
   <div class = input-group>
        <label class="form-label col-sm-2" asp-for="Ville">Ville</label>
        <div class="col-sm-10">
        <select class="form-select" asp-for="Ville">
            <option selected disabled value="">Choisir une ville</option>
            <option>Montréal</option>
            <option>Québec City</option>
            <option>Trois-Rivières</option>
            <option>Saguenay</option>
            <option>Lévis</option>
            <option>Laval</option>
            <option>Rimouski</option>
            <option>Gatineau</option>
            <option>Longueuil</option>
        </select>
        </div>

        <span class="text-danger" asp-validation-for="Ville"></span>
   </div>
   <br/>

   <div class = input-group>
       <label class="form-label col-sm-2" asp-for="HommeCheck">Je suis</label>
        <div class="form-check form-check-inline">
        
        <label class="form-check-label" asp-for="HommeCheck">Homme</label>
        <input class="form-check-input" asp-for="HommeCheck" type="radio" value="Homme">
        </div>
   
        <div class="form-check form-check-inline">
        <label class="form-check-label" asp-for="FemmeCheck">Femme</label>
        <input class="form-check-input" asp-for="FemmeCheck" type="radio" value="Femme">
        </div>


   </div>

   
   <br/>
   

     <div class=input-group>
        <label class="form-label col-sm-2" asp-for="DateEntree">Date d'entrée en fonction</label>

        <div class="col-sm-10">
        <input class="form-control" asp-for="DateEntree" type="date" />
        </div>

        <span class="text-danger" asp-validation-for="DateEntree"></span>
    </div>
    <br/>
    <div class=input-group>
        <label class="form-label col-sm-2" asp-for="Mail">Adresse mail</label>
        <div class="col-sm-10">
        <input class="form-control" asp-for="Mail" placeholder="Adresse mail" type="email" />
        </div>

        <span class="text-danger" asp-validation-for="Mail"></span>
    </div>

    <br/>
    <div class=input-group>
        <label class="form-label col-sm-2" asp-for="UserName">Nom d'utilisateur</label>
        <div class="col-sm-10">
        <input class="form-control" asp-for="UserName" placeholder="Entrez un nom d'utilisateur" type="text" />
        </div>
        <span class="text-danger" asp-validation-for="UserName"></span>
    </div>
    <br/>

    <div class=input-group>
        <label class="form-label col-sm-2" asp-for="Password">Mot de passe</label>
        <div class="col-sm-10">
        <input class="form-control" asp-for="Password" placeholder="Entrez un mot de passe" type="password" />
        </div>

        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <br/>


    <div class="mt-2">
        <input class="btn btn-success" type="submit"  value="Créer" /> 
    </div>
</form>

<div class="mt-2">
    <a class="btn btn-primary" href="~/Medecin/Index">Quitter</a>
</div>
